/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
  /*
   * Remove "noisy" serifs.
   * Computer screens only have at most 300dpi, unlike 1000dpi for print.
   * See http://www.webdesignerdepot.com/2013/03/serif-vs-sans-the-final-battle/
   */
  font-family: sans-serif;

  margin: 2em; /* Get some margin, breathing room. */
}

/*
 * Align and center footer and article within body.
 */
article, footer {
  margin: 0 auto;
  max-width: 50em;
}

footer {
  border-top: 1px solid #ddd;
}

header {
  margin: 0 auto;
  width: 800px;
}

/*
 * Margins:
 *  Excactly 1 line height under h1.
 *  Center with auto horizontal margins.
 *  No margin on left. Flush with left of article.
 * Set width to 25em, equivalent to article's. h1 have default font-size of 2em.
 */
h1 {
  margin: 0 auto 1em auto;
  width: 25em; /* Udacity codes wrongly hardcodes this to 800px. */
}

img {
  max-width: 100%; /* Fit images within document width. */
}

figure {
  margin: 1em 0 1em 0;
}

figcaption {
  color: #bb021e;
  padding: 1em 0;
}

svg#logo {
  fill: #666;
  height: 6vw;
  margin: 0 auto 0.5em auto;
  width: 6vw;
}

header:hover svg#logo {
  fill: #3d85c6;
  -webkit-filter: drop-shadow(3px 3px 3px #ddd);
  filter: drop-shadow(3px 3px 3px #ddd);
}

[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
  color: #3d85c6;
}

div#social a {
  margin: 0 1em 0 0;
}

div#social a:last-of-type {
  margin: 0;
}

div#social {
  line-height: 2em;
}
