/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
  /*
   * Remove "noisy" serifs.
   * Computer screens only have at most 300dpi, unlike 1000dpi for print.
   * See http://www.webdesignerdepot.com/2013/03/serif-vs-sans-the-final-battle/
   */
  font-family: sans-serif;

  /* Breathing room top and bottom. */
  /* No margin left-right. We want banner to span width, borderless. */
  margin: 3vh 0px;

  /* Use flex to centrally align content (article, header, footer, etc). */
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center; /* center all titles. */
}

/*
 * Align and center footer and article within body.
 */
article, footer, header {
  max-width: 50em;
}

/*
 * Article must be flex, centrally align content, so banner can protrude to span
 *  whole width of viewport.
 */
article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  border-top: 1px solid #ddd;
}

p {
  text-align: justify;
}

/*
 * Margins:
 *  Excactly 1 line height under h1.
 *  Center with auto horizontal margins.
 *  No margin on left. Flush with left of article.
 * Set width to 25em, equivalent to article's. h1 have default font-size of 2em.
 */
h1 {
  margin: 0 auto 1em auto;
  width: 25em; /* Udacity codes wrongly hardcodes this to 800px. */
}

img {
  max-width: 100%; /* Fit images within document width. */
}

picture#banner img {
  -webkit-filter: saturate(3) opacity(0.7);
  margin: 0 0 2em 0; /* some margin below before text starts. */

  max-width: 100vw; /* TODO: Find out why max-width is needed here. */
  width: 100vw; /* Needed to force larger than natural resolution. */
}

/* Figure to be flush with article. Article is centered and justified. */
figure {
  margin: 1em 0;
}

/*
 * Figure captions to be different color from text, distinguished.
 * Captions to have breathing room above and below.
 */
figcaption {
  color: #bb021e;
  padding: 2em 0;
}

/*
 * Evenly space out all social share links.
 * Center each share link in its assigned space.
 */
div#social {
  display: flex;
}

a[class*="zocial-"] {
  margin: auto;
}

/*
 * Use zocial icons. Black.
 * (Applying only to <a> elements, more specific than Udacity's codes.)
 */
a[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif; /* Bare minimum to use zocial icons. */
  color: black;

  display: inline-block; /* Icons not part of link. Also to apply width. */
  width: 2em;

  text-shadow: 3px 3px 3px #aaa;
}

/*
 * On hover over link, change color of zocial icon.
 * (Udacity's CSS selector is wrong here.)
 */
a[class*="zocial-"]:hover:before {
  color: #3d85c6;
}

div.github {
  margin: 1em 0; /* Add vertical space away from social share links. */
  text-align: center; /* Center GitHub link. */
}

/*
 * Gray logo, colors light blue upon hover and adds shadow.
 * Flush with bottom of h1.
 */
svg#logo {
  fill: #666;
  height: 12vh;
  width: 12vw;
  vertical-align: bottom;
}

svg#logo:hover {
  fill: #3d85c6;
  filter: drop-shadow(3px 3px 3px #ddd);
}

/*
 *
 */
header {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
