/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
  /*
   * Remove "noisy" serifs.
   * Computer screens only have at most 300dpi, unlike 1000dpi for print.
   * See http://www.webdesignerdepot.com/2013/03/serif-vs-sans-the-final-battle/
   */
  font-family: sans-serif;

  /* Breathing room top and bottom. */
  /* No margin left-right. We want banner to span width, borderless. */
  margin: 3vh 0px;

  /* Use flex to centrally align content (article, header, footer, etc). */
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center; /* center all titles. */
}

/*
 * Article must be flex, centrally align content, so banner can protrude to span
 *  whole width of viewport.
 */
article {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 50em; /* Limit width of article to 50em. Best reading width. */
  width: 90vw; /* In usual cases, article to be 90% of viewport width. */
}

footer {
  border-top: 1px solid #ddd;
}

/*
 * Links to have no underline. Can be mistaken for 'text in emphasis'.
 * Still, differentiate links from text using lighter color and weight.
 */
footer a {
  color: #4183C4;
  font-weight: 300; /* Normal is 400 */
  text-decoration: none;
}

/* Underline when links hovered over, indicates ability to click on them. */
footer a:hover {
  color: #3d85c6;
  text-decoration: underline;
}

a#viewSource {
  display: inline-block; /* Udacity's block makes whitespace clickable.*/

  /* Breathing room away from social links' bottom border. */
  margin: 1.3em 0 0 0;
}

p, h1 {
  color: #444; /* Gray text. Lessen sharp contrast with white background. */
}

p {
  line-height: 1.6em; /* Space lines out for better readability. */

  /* No need for this in Udacity's codes. Vertical margins collapse. */
  /* https://www.w3.org/TR/CSS2/box.html#collapsing-margins */
  /*margin: 0 auto 1em auto;*/

  text-align: justify;
}

p.lead::first-letter {
  font-size: 3em;
}

/* Each section ends with a bottom border. Small bottom margin. */
section {
  border-bottom: 1px solid #eee;
  margin: 0 0 3vh 0;
}

/* Last section has larger bottom whitespace, signifies end of article. */
section:last-of-type {
  border-bottom: 1px solid #ccc; /* Has a darker bottom border than usual. */
  margin: 0 0 6vh 0;
  padding: 0 0 6vh 0;
}

section#references div {
  column-count: 2;
  column-gap: 3em;
  column-rule: 1px dashed;
}

section#references p {
  /* Hanging indents */
  padding-left: 1em;
  text-indent: -1em;
  text-align: left;
}

/* Middle element breaks cleanly to next column. */
section#references p:nth-child(3) {
  break-after: column;
}

/* Single column for references if screen width too small. */
@media (max-width: 35em) {
  section#references div {
    column-count: auto;
  }
  section#references p:nth-child(3) {
    break-after: auto;
  }
}

article h1 {
  font-size: 6vw; /* Larger than normal text. Responsive to viewport width. */

  /* Only slightly bolder than normal text. 'bold' is 700. */
  /* Bold is too thick to be easily readable, it seems. */
  font-weight: 500;

  margin-bottom: 1em; /* Exactly 1 line height under h1. */
}

article h1:hover{
  color: #3d85c6; /* On hover, title changes color. */
}

section#post h2 {
  color: #bb021e; /* Post title in red. */
  font-size: 5vw; /* Title size responsive to viewport width. */

  /* Zero top margin; banner already has bottom margin. */
  /* Retain bottom margin. Breathing space before post text. */
  margin: 0 0 1em 0;

  /* Sort of underline post title. */
  border-bottom: 1px solid #ddd;
  padding: 0 0 1em 0;
}

img {
  max-width: 100%; /* Fit images within container (article) width. */
}

picture#banner img {
  -webkit-filter: saturate(3) opacity(0.7);
  margin: 0 0 2em 0; /* some margin below before text starts. */

  max-width: 100vw; /* TODO: Find out why max-width is needed here. */
  width: 100vw; /* Needed to force larger than natural resolution. */
}

/* Figure to be flush with article. Article is centered and justified. */
figure {
  margin: 1em 0;
}

/*
 * Figure captions to be different color from text, distinguished.
 * Captions to have breathing room above and below.
 */
figcaption {
  color: #bb021e;
  padding: 2em 0;
}

div#social {
  line-height: 2em; /* Breathing room above and below. Above GitHub link. */
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.3em;
}

/*
 * Each link has same amount of spacing between them.
 * No whitespace at leftmost and rightmost edges.
 */
div#social a {
  margin: 0 1em 0 0;
}

/* And this is how to round off the above effect. */
div#social a:last-of-type {
  margin-right: 0;
}

/*
 * Use zocial icons. Black.
 * (Applying only to <a> elements, more specific than Udacity's codes.)
 */
a[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif; /* Bare minimum to use zocial icons. */
  color: black;

  display: inline-block; /* Icons not part of link. Also to apply width. */
  width: 2em;

  text-shadow: 3px 3px 3px #aaa;
}

/*
 * On hover over link, change color of zocial icon.
 * (Udacity's CSS selector is wrong here.)
 */
a[class*="zocial-"]:hover:before {
  color: #3d85c6;
}

/*
 * Gray logo, colors light blue upon hover and adds shadow.
 * Flush with bottom of h1.
 */
svg#logo {
  fill: #666;
  height: 6vh;
  width: 6vw;
  margin: 0 auto 0.5em auto;
}

svg#logo:hover {
  fill: #3d85c6;
  filter: drop-shadow(3px 3px 3px #ddd);
}
